extends layout

block content 
    h1 #{title}
    form(method='POST',action='/utilizator/schimbaredate/'+utilizator.idUtil)
        #form-group 
            label Username:
            input.form-control(name='username',type="text",value=utilizator.username)
        #form-group 
            label Parola:
            input.form-control(name='password',type="text",value=utilizator.password)
        #form-group 
            label Email;
            input.form-control(name="email",type="text",value=utilizator.email)
        input.btn.btn-primary(type="submit",value="Submit")